.leap-notif {
  position: fixed;
  width: 400px;
  height: auto;
  background: #ffffff;
  z-index: 1001;
  min-height: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;

  //ELEMENTS
  .notif-icon {
    text-align: center;
    line-height: 35px;
    width: 60px;
    height: 35px;
    font-size: 35px;
  }

  .notif-info {
    width: calc(100% - 100px);

    .title {
      font-size: 14px;
      font-weight: 600;
      margin: 10px 0px 3px 0px;
      text-transform: uppercase;
    }

    .message {
      color: black;
      margin-bottom: 10px;
    }
  }

  .notif-closer {
    cursor: pointer;
    transition: all 0.3s ease;
    width: 40px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);

    &:hover {
      font-size: 25px;
    }
  }

  // TYPE

  &.info {
    color: var(--leap-info-color);
    border-top: 3px solid var(--leap-info-color);
    background: white;
  }

  &.warning {
    color: var(--leap-warning-color);
    border-top: 3px solid var(--leap-warning-color);
    background: white;
  }

  &.error {
    color: var(--leap-error-color);
    border-top: 3px solid var(--leap-error-color);
    background: white;
  }

  &.success {
    color: var(--leap-success-color);
    border-top: 3px solid var(--leap-success-color);
    background: white;
  }

  // POSITION

  &.center-center {
    top: 50%;
    left: 50%;
    border-radius: 15px 15px 15px 15px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    &.invisible {
      top: -25px;
    }
  }

  &.top-center {
    top: 15px;
    left: 50%;
    border-radius: 2px 2px 15px 15px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);

    &.invisible {
      top: -25px;
    }
  }

  &.top-left {
    top: 15px;
    left: 15px;
    border-radius: 2px 2px 15px 2px;

    &.invisible {
      top: -25px;
      left: -25px;
    }
  }

  &.top-right {
    top: 15px;
    right: 15px;
    border-radius: 2px 2px 2px 15px;

    &.invisible {
      top: -25px;
      right: -25px;
    }
  }

  &.bottom-center {
    bottom: 15px;
    left: 50%;
    border-radius: 15px 15px 2px 2px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);

    &.invisible {
      bottom: -25px;
    }
  }

  &.bottom-left {
    bottom: 15px;
    left: 15px;
    border-radius: 2px 15px 2px 2px;

    &.invisible {
      bottom: -25px;
      left: -25px;
    }
  }

  &.bottom-right {
    bottom: 15px;
    right: 15px;
    border-radius: 15px 2px 2px 2px;

    &.invisible {
      bottom: -25px;
      right: -25px;
    }
  }

  // VISIVILITY

  &.visible {
    opacity: 1;
  }

  &.invisible {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
  }
}

@media screen and (max-width: 420px) {
  .leap-notif {
    width: 95%;
  }
}
